VITE_FIREBASE_API_KEY= 'AIzaSyAVI0FRUDLLTxkBRYEuAxFKj9xpfkEm5Ck',
VITE_FIREBASE_AUTH_DOMAIN= 'websitedusundrujutegal.firebaseapp.com',
VITE_FIREBASE_PROJECT_ID= 'websitedusundrujutegal',
VITE_FIREBASE_STORAGE_BUCKET= 'websitedusundrujutegal.appspot.com',
VITE_FIREBASE_MESSAGING_SENDER_ID= '178102873490',
VITE_FIREBASE_APP_ID= '1:178102873490:web:284c1b78586acdbed0654b',
VITE_FIREBASE_MEASUREMENT_ID= 'G-X1JMSD4XT4',
VITE_FIREBASE_DATABASE_URL= 'https://websitedusundrujutegal-default-rtdb.asia-southeast1.firebasedatabase.app/',